body{
    font-family: sans-serif;
}

.navbar li {
    font-size: 17px;
}

.navbar{
    background : #220000 !important;
}

.navbar li{
    font-size: 2.5vmin !important;
}

.input-icon {
    position: relative;
}

.input-icon-addon:last-child {
    left: auto;
    right: 0;
}

.input-icon-addon {
    position: absolute;
    top: 0;
    bottom: 0;
    color: #9aa0ac;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.2rem;
    pointer-events: none;
}

.dropdown-menu{
    background: #220000;
}

.dropdown-menu a{
    color: white;
}

.books{
    background: rgba(241, 241, 241, 0.527);
}